/* ---------------------------------------------
		header-footer.css
		Blog Theme "L"
--------------------------------------------- */

/* header.php */

body {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* banner.php */

#b-logo {
	text-align: right;
}

@media screen and (max-width: 768px) {
	#b-logo {
		text-align: center;
	}
}

#b-logo a {
	text-decoration: none;
}

/* navbar.php */

.navbar {
	margin-bottom: 15px;
}

/* footer.php */

#affiliate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#affiliate {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	#copyright {
		padding-top: 15px;
	}
}