/* ---------------------------------------------
		header-footer.css
			for all pages
--------------------------------------------- */

body {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar {
	margin-bottom: 15px;
}

#affiliate {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#affiliate {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	#copyright {
		padding-top: 15px;
	}
}