/* ---------------------------------------------
		main.css
		Blog Theme "L"
--------------------------------------------- */

/* index.php / single.php / page.php */

.post {
	padding-bottom: 30px;	
	line-height: 1.75;
}

@media screen and (max-width: 992px) {
	div.p-wrapper {
		padding-top: 15px;
	}
}

.p-contents h1,
.p-contents h2 {
	border-left: 5px solid #338bd4;
	border-bottom: 1px solid #338bd4;
	padding: 3px 15px 3px;
}

.p-contents h3 {
	border-left: 5px solid #32a6d4;
	border-bottom: 1px solid #32a6d4;
	padding: 3px 15px 3px;
}

.p-contents h4 {
	border-left: 5px solid #32a6d4;
	padding: 3px 15px;
}

.p-contents h5,
.p-contents h6 {
	border-left: 5px solid #33c1d4;
	padding: 3px 15px;
}

.p-thumbnail img,
.p-contents img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media screen and (min-width: 992px) {
	.p-contents img {
		width: 75%;
	}
}

.fs125 {
	font-size: 125%;
}

.fs150 {
	font-size: 150%;
}

.fs175 {
	font-size: 175%;
}

.fs200 {
	font-size: 200%;
}

#navigation {
	padding-top: 20px;
}

#navigation li {
	font-size: 125%;
}

#navigation li>a {
	margin-bottom: 5px;
}