/* ---------------------------------------------
		sidebar.css
		Blog Theme "L"
--------------------------------------------- */

#b-sub-search-box {
	padding-bottom: 10px;
} 

#wp-calendar th,td {
	text-align: center;
}

#b-sub-archive {
	padding-bottom: 11px;
}

#b-sub-tag {
	padding-bottom: 5px;
}

#tag-inner a {
	padding: 3px 5px;
	border: 1px solid #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff;
    color: #333333;
    font-size: 90%;
    line-height: 200%;
}

#tag-inner a:hover {
	background-color: #e1e1e1 ;
}